
<!DOCTYPE html>
<head>
<link rel = "stylesheet" href = "/CSS/Footer_CSS_Styles.css">
</head>

<body>

<!------------------   FOOTER    ------------------->


<p style = "padding-left:8px; padding-right:10px; text-indent:100px; text-align:center; color:rgb(120,120,120); font-size:18px; font-family:Verdana, Geneva, Tahoma, sans-serif;">
    Agro-Organic Farm Delicacy site is a optimized way to enhance proper web technologies for Farmers as well as customers who
      are thriving to get into Organic Farming and produce healthy crops & healthy food foo the Nation.
    Be sure to check for greater opportunities provided on this website and make the most use out of it.
    <br> <br> Copyright 2021-2023 by IIIT Sri City. All Rights Reserved.
    <br> <br> Powered By IIIT Sri City [IIITS] <br> <br>
    </p>
    <br> <br>
    
    <div class = "F1">
        <div class = "temp1">
            <p> <a href = "mailto:kareemulla.sk21@iiits.in" id = "help" title = "Feel free to contact us for any Help!"> Contact Us </a> to Ask a Question, Provide Feedback, or Report a Problem! </p>
        </div>
    
        <div class = "temp2">
            <p> LAST UPDATED ON <span style = "font-family:verdana;"> 30 </span> MARCH, <span style = "font-family:verdana;"> 2023 </span> </p>
        </div>
    </div>
    
    
    
    <div class = "Footer">
    
    <img src = "/IMAGES/LOGO_FAVICON/Main_Logo.png"  alt = "LOGO" class = "IF1" height = "34%" width = "30%">
    
    
    <ul class = "list1">
        <li> <span style = "font-size:38px; color:rgb(255, 255, 9);">  Discover..  </span>  </li>
        <li> <a href = "#"> About <span class = "bi bi-box-arrow-up-right"> </span> </a> </li>
        <li> <a href = "#"> Accessibility <span class = "bi bi-box-arrow-up-right"> </span> </a> </li>
        <li> <a href = "javascript:void(0);" title = "Contracting not yet initiated by AOFD"> Contracting  </a> </li>
        <li> <a href = "#"> Privacy & Security Notice <span class = "bi bi-box-arrow-up-right"> </span> </a> </li>
        <li> <a href = "#"> Privacy <span class = "bi bi-box-arrow-up-right"> </span> </a> </li>      
    </ul>
    
    
    
    <ul class = "list2">
        <li>  <span style = "font-size:38px; color:rgb(255, 255, 9);"> References.. </span>  </li>
        <li> <a href = "https://power.larc.nasa.gov/data-access-viewer/" target = "_blank"> NASA Power Data <span class="bi bi-box-arrow-up-right"> </span>  </a>  </li>
        <li> <a href = "https://www.worldclim.org/" target = "_blank"> World Clim <span class = "bi bi-box-arrow-up-right"> </span> </a>  </li>
        <li> <a href = "https://biodiversityinformatics.amnh.org/" target = "blank"> Bio-Diversity Informatics  <span class = "bi bi-box-arrow-up-right"> </span> </a>  </li>
    </ul>
    
    
    
    <ul class = "list3"> 
        <li> <span style = "font-size:38px; color:rgb(255, 255, 9);"> Ask..  </span> </li>
        <li> <a href = "mailto:kareemulla.sk21@iiits.in"> Contact Us via Mail <span class="bi bi-box-arrow-up-right"> </span> </a> </li>
        <li> <a href = "" target = "_blank">   AOFD Disclaimers <span class = "bi bi-box-arrow-up-right"> </span> </a>  </li>
        <li> <a href = "" target = "_blank">   Hotlines <span class = "bi bi-box-arrow-up-right"> </span> </a> </li>
        <li> <a href = "" target = "_blank">   Frequently Asked Questions <span class = "bi bi-box-arrow-up-right"> </span> </a>  </li>
    </ul>
    
    
    
    <ul class = "social_media"> 
        <li> <span style = "font-size:38px; color:rgb(255, 255, 9);">  Follow Us On..  </span> </li>
        <li> <a href = "https://instagram.com/sai.reddy.04?igshid=ZDdkNTZiNTM=" target = "_blank"> <span style = "font-size:40px; color:rgb(240, 104, 14);"  class = "bi bi-instagram"> </span>  </a> </li>
        <li> <a href = "https://chat.whatsapp.com/CJAhhx2VT7M76xoNKOpMvG" target = "_blank"> <span style = "font-size:40px; color:#25D366;" class = "bi bi-whatsapp">  </span>  </a> </li>
        <li> <a href = "https://www.facebook.com/profile.php?id=100014624467734" target = "_blank"> <span style = "font-size:40px; color:#1778F2;"  class = "bi bi-facebook">  </span>  </a> </li>
        <li> <a href = "https://twitter.com/ashrafali_2410" target = "_blank"> <span style = "font-size:40px; color:#1da1f2;"  class = "bi bi-twitter">   </span>  </a> </li>
        <li> <a href = "https://www.youtube.com/@iiit-sricity9081/videos" target = "_blank"> <span style = "font-size:40px; color:red;"  class = "bi bi-youtube">   </span>  </a> </li>
        <li> <a href = "https://www.linkedin.com/in/sai-kumar-reddy-ganugapenta-36bb31248" target = "_blank"> <span style = "font-size:40px; color:#0072b1;"  class = "bi bi-linkedin">  </span>  </a> </li>
    </ul>
    
    
    </div>
    

</body>
</html>