
<!DOCTYPE html>
<head>

<link rel = "stylesheet" href = "/CSS/Header_CSS_Styles.css">

</head>


<body>



<div class = "Header_Main">


    <img class = "HI1" style = "width:18%; height:17%; margin-left:4px; margin-top:1px;" src = "../Images/LOGO_FAVICON/Main_Logo.png" alt = "LOGO">
    
    
    
    <div class = "Home_Button">
        <a class = "Main_H1" href = "javascript:void(0);"> Home<span class = 'bi bi-caret-down-fill' style = "font-size: 16px;">  </span> </a>
        <div class = "Home_Dropdown">
            <a href = "/#steps" target = "_blank"> Steps To Sign-Up|Sign-In </a>
            <a href = "/#agriculture" target = "_blank"> Agriculture </a>
            <a href = "/#organic_farming" target = "_blank"> Organic Farming </a>
            <a href = "/#soil_report" target = "_blank"> Soil Reports </a>
            <a href = "/#quote" target = "_blank"> Farmer Quotes </a>
            <a href = "/#probability" target = "_blank"> Probability Graphs For different crops </a>
            <a href = "/#help" target = "_blank"> Help </a>
        </div>
    </div>
    
    
    
    
    <div class = "About_Button"> 
        <a class = "Main_H1" href = "javascript:void(0);"> About<span class = 'bi bi-caret-down-fill' style = "font-size: 16px;">  </span> </a>
        <div class = "About_Dropdown">
            <a href = "/#about_us" target = "_blank"> About Us </a>
            <a href = "/#purpose" target = "_blank"> Purpose </a>
            <a href = "#" title = "History 2021-2023" target = "_blank"> History </a>
         </div>
    </div>
        
        
    
    <div class = "Advertise_Button">
        <a class = "Main_H1" href = "javascript:void(0);"> Advertise<span class = 'bi bi-caret-down-fill' style = "font-size: 16px;">  </span> </a>
        <div class = "Advertise_Dropdown">
            <a href = "/#advertisement" target = "_blank"> Find out what a sales agent can do with advertising their products </a>
            <a href = "/#advertisement" target = "_blank"> Find out what a farmer can do with the products they grow </a>
            <a href = "#" target = "_blank"> Advertise Info for Farmers </a>
            <a href = "#" target = "_blank"> Advertise Info for Sales Agent </a>
        </div>
    </div>
        
    
    
    <div class = "Purchase_Button"> 
        <a class = "Main_H1" href = "javascript:void(0);"> Purchase<span class = 'bi bi-caret-down-fill' style = "font-size: 16px;">  </span> </a>
        <div class = "Purchase_Dropdown">
            <a href = "/#farmer_purchase" target = "_blank"> Purchase Info for Farmers </a>
            <a href = "/#customer_purchase"  target = "_blank" title = "Find out what Customers can Purchase"> Purchase Info for Customers </a>
            <a href = "#" target = "_blank"> Steps Involved </a>
        </div>
    </div>
    
    
    
    
    
    <div class = "SignUp_SignIn">
        <a href = "javascript:void(0);" class = "Main_H1"> Sign-Up|Sign-In<span class = 'bi bi-caret-down-fill' style = "font-size: 10px;">  </span> </a>
        <div class = "SignUp_SignIn_Dropdown" style = "right:0;">
            <a href = "/#steps" target = "_blank"> Steps To Sign-Up|Sign-In </a>
            <a href = "/Farmer_SignUp_Login_Page" target = "_blank"> Farmer Sign-Up|Sign-In </a>
            <a href = "/Customer_SignUp_Login_Page" target = "_blank"> Customer Sign-Up|Sign-In </a>
            <a href = "/Sales_Agent_SignUp_Login_Page" target = "_blank"> Sales Agent Sign-Up|Sign-In </a>
        </div>
    </div>


</div>



</body>
</html>