<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href = "/IMAGES/LOGO_FAVICON/Favicon_Icon.ico" type = "image/x-icon"  sizes = "16x16 32x32">
    <title>Document</title>
    <style>
        body{
            display: flex;
            text-align: center;
            align-items: center;
            overflow-x: hidden;
        }
        .p404{
            position: absolute;
            top: 20vh;
            width: 100%;
           

        }
        .pa1{
            font-size: 1.5rem;
            color: red;
        }
        .pa2{
            font-size: 3rem;
            color: green;
        }
        .pa3,.pa4{
            font-size: 1.2rem;

        }
    </style>
</head>
<body>
    <div class="p404">
        <p class="pa1">OOPS!..</p>
        <p class="pa3">Error</p>
        <p class="pa2">404</p>
       
        <p class="pa4">Page Not Found</p>
    </div>
</body>
</html>