<!DOCTYPE html>
<head>
<title> Welcome To Home Page! </title>

<meta charset = "utf-8">
<meta name = "viewport" content = "width = device-width, initial-scale = 1">
<meta name = "Keywords" content = "HTML, CSS, MySQL, JavaScript, Bootstrap, NodeJS, Web Development, Website">
<link rel = "icon" href = "/IMAGES/LOGO_FAVICON/Favicon_Icon.ico" type = "image/x-icon"  sizes = "16x16 32x32">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Merriweather|Open+Sans">
<link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Cinzel|Fauna+One">
<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel = "stylesheet" href = "/CSS/Home_CSS_Styles.css">
<script type = "text/javascript" src = "/JAVASCRIPT/Home_Page_JS.js"> </script>

<style>
*
{
margin:0;
box-sizing:border-box;
}
</style>
</head>




<body>



<!-------------------  HEADER, NAVBAR SECTION  ------------------->

<%- include('partials/Header_Home') %>




<!------------------- HOME PAGE CONTENTS  ------------------->



 



    <div class="xyz" style="position: relative; top:6.5rem; ">

        <video  autoplay loop muted plays-inline style=" z-index: -2 ;  height: 85vh; width: 100%; " src="/IMAGES/SLIDING_PICS/backgroundvideo.mp4">
        </video>
    
        <div  style="position: absolute; top: 30vh; left: 10vw; font-weight: bold;">
            <h1 style="font-size: 2.5rem; font-weight: bolder;">Welcome</h1>
            <h1 style="font-size: 2.5rem; font-weight: bolder; color: orange;">Argo- Organic Farm Delicacy</h1>
            <p style="font-size: 1rem; color: rgb(163, 20, 220); ">Agro and organic farm delicacies are food items that are produced using sustainable farming practices, without the use of synthetic chemicals or genetically modified organisms (GMOs)</p>
        </div>    
    </div>

    <br><br><br><br><br>

<div id = "about_us"> </div>
<br> <br>
<div class = "about_us" >
    <h1 style = "color:rgb(35, 161, 3); "> A Brief Information on About Us!</h1>
    <br>   
    <fieldset  style="margin-left:3rem ; margin-right: 3rem;">
        <legend >Introduction</legend>
        <br>
        <p style = "text-indent: 5rem; ">  
    Welcome to The Agro-Organic Farm Delicacy! where we are passionate about producing high-quality, sustainable food for our local community directly
	from the farmers and also provide farmers ways to purchase organic products at much cheaper prices and also to sell their own crops.
	We are a family-owned and operated farm located in the heart of the countryside, and we have been in operation for over 2 years in
	providing various services for our customers through our website. </p>
    </fieldset>
    
        <div id = "purpose"> </div>
	<br>  <br>  <br>
        <h1 style = "color:rgb(45, 202, 6);"> Website Purpose!</h1> <br> 
        <fieldset  style="margin-left:3rem ; margin-right: 3rem;">
            <legend >purpose</legend>
        <p style = "text-indent: 5rem; ">
    Our mission is to provide our customers with fresh, healthy, and delicious produce that is grown with the utmost care and respect for the environment.
	We believe that everyone should have access to nutritious, locally grown food, and we are committed to making that a reality.
	At Agro-Organic Farm Delicacy, we take great pride in our work and our team is made up of dedicated professionals who are passionate about providing
	services for our Farmers, Customers and Sales Agents with the help of technology in current world. 
	We believe that the food we eat has a direct impact on our health and well-being. That's why we have made it our mission to source only the best
	organic products from our local farmers and producers who share our values.
	We believe that by choosing organic products, our customers can make a positive impact on the world around them. 

    </p>

    <br>
    <p style = "text-indent: 5rem;">
	We are proud to offer a wide range of organic products, including fruits, vegetables, dairy products, grains, and much more.
	All of our products are certified organic, so you can be sure that you are getting the best possible quality from the Market.
    </p>

</div>
</fieldset>

<div id ="quote"></div>
<br> <br> <br>












<div class = "quote2" >


    <div class = 'semi-circle'>  </div>

    <div class = "person2">
    <img src = "/IMAGES/QUOTE/VandannaShiva.png" width = "350px" height = "255px">    
    </div>

    <div class = "q1"> <i class="fa fa-quote-left" ></i> </div>
    <div class = "q2">  An Organic Farmer is the best Peacemaker today, because there is more violence, more </div>
    <div class = "q3">  death, more destruction, more wars, through a violent industrial agriculture system. </div>
    <div class = "q4"> And to shift away from that into an agriculture of piece is what Organic Farming is doing."</div>


   <div class = "name">  <em>--<span style = "color:black;">Vandana Shiva</span>, <span style = "font-size:1.15rem;"> Environmental Activist, Advocate for Sustainable Agriculture</span> </em></div>
        
</div>











<div id = "agriculture"> </div>
<br> <br> <br> <br> 
<div class = "agriculture" > 
    <h1>Agriculture Inspire!</h1>
    <br>
    <fieldset  style="margin-left:3rem ; margin-right: 3rem;">
        <legend >Inspiration words</legend>
    <p style = "text-indent: 5rem; ">
        Agriculture is more than just a means of producing food; it is a way of life that connects us to the earth and sustains our communities. The tireless efforts of farmers and ranchers, 
    coupled with the resilience of the natural world, continue to provide us with the nourishment we need to thrive.
    As we work towards a more sustainable and equitable food system, let us remember the power and beauty of the land and the importance of our connection to it.
    </p>
    </fieldset>
</div>













<div id = "steps"> </div>
<br> <br> <br> <br> <br> <br>
<h1>  Steps To Start creating your Account:  </h1>
<br>
<div class = "steps_for_signup" >

 
  
    <br>
    <p style = "text-indent:5rem; margin-left: 4rem;  margin-right: 3rem;">
    Wonder how you can create your account and start advertising/purchasing ?
    Worry not, this block teaches you on how a user can create their account.
    Follow the below instructions
    </p>
    <br>
    <fieldset  style="margin-left:3rem ; margin-right: 2rem; padding: 3px 3px; background:linear-gradient(to bottom, #91D8E4, #BFEAF5, #EAFDFC);">
        <legend ></legend>
        <br>

    <span class = "step1"> Step - 1 : </span>
    
    <span class = "s1"> Click on the Sign-Up button to view the Sign-Up page </span>

    <span class = "step2"> Step - 2 :</span>
    
    <span class = "s2"> After clicking on the Sign-Up button, a page will appear where you are required to provide the details
        of your Name, phone number, Email, password, what are all the products you would like to advertise, etc on that page. </span>

      
    <span class = "step3"> Step - 3: </span>

    <span class = "s3"> After entering all the required information, press on create account button and there you have it,
         Now you've successfully created your account on our website. Hope you enjoy your time with us! </span>

       
 
<br><br><br><br><br><br><br><br><br><br><br><br>
              
</div> </fieldset>











<br> <br>
<!--
<h1>  Below are the Sign-Up Options to create your account. </h1>
<br> <br>

<div class = "login_setup" style = "background-image:url('/IMAGES/BACKGROUND_PICS/Forall.jpg');">


<span class = "heading_button1">  Sales Agent </span>
<span class = "heading_button2">  Farmer </span>
<span class = "heading_button3">  Customer </span>


<div class = "Sales_Agent_Setup" style = "background:linear-gradient(to bottom, #91D8E4, #BFEAF5, #EAFDFC);" >

    <span style = "line-height:2rem; color:rgb(3, 3, 3); font-family: Georgia, 'Times New Roman', Times, serif;"> Are You a Sales Agent & would like to Advertise your Products on our Website ? <br>
        Please find below the Sign-In, Sign-Up options to proceed.
    </span>

    <a href="/Login_SignUp_Page"> <button class = "sign_up_button"> Sign-Up </button></a>
    <a href="/Login_SignUp_Page"><button class = "log_in_button"> Log-In </button></a>

</div>






<div class = "Farmer_Setup"  style = "background:linear-gradient(to bottom, #91D8E4, #BFEAF5, #EAFDFC);">

    <span style = "line-height:2rem; color:rgb(3, 3, 3);; font-family: Georgia, 'Times New Roman', Times, serif;"> Are You a Farmer & would like to Purchase|Advetise Products on our Website ? <br>
        Please find below the Sign-In, Sign-Up options to proceed.
    </span>

    <a href="/Login_SignUp_Page"> <button class = "sign_up_button"> Sign-Up </button></a>
    <a href="/Login_SignUp_Page"><button class = "log_in_button"> Log-In </button></a>
</div>







<div class = "Customer_Setup" style = "background:linear-gradient(to bottom, #91D8E4, #BFEAF5, #EAFDFC);">

    <span style = "line-height:2rem; color:rgb(3, 3, 3);; font-family: Georgia, 'Times New Roman', Times, serif;"> Are You a Customer & would like to purchase  best quality Organic Products on our Website ? <br>
        Please find below the Sign-In, Sign-Up options to proceed.
    </span>
    
    <a href="/Login_SignUp_Page"> <button class = "sign_up_button"> Sign-Up </button></a>
    <a href="/Login_SignUp_Page"><button class = "log_in_button"> Log-In </button></a>

</div>



</div>
-->









<div id = "organic_farming"> </div>
<br> <br> <br>
<div class = "organic_farming">
    <h1> Importance Of Organic Farming!</h1>
    <br>
    <fieldset  style="margin-left:3rem ; margin-right: 2rem; padding: 3px 3px;">
        <legend >Oragnic Farming</legend>
        <br>
    <p style = "text-indent:5rem;"> 
    
    Organic farming is not just a way of growing food; it is a way of life that honors and respects the natural world. 
    Organic farmers work in harmony with nature, using methods such as crop rotation, composting, and natural pest control to create a sustainable and regenerative system. By choosing organic produce,
    we are not only supporting the health of our bodies but also the health of the planet. 
    Organic farmers work in harmony with nature, using methods such as crop rotation, composting, and natural pest control to create a sustainable and regenerative system.
    By choosing organic produce, we are not only supporting the health of our bodies but also the health of the planet.

    </p>
    <br>
    <p style = "text-indent:5rem;">
    It is a powerful reminder of the innate connection between humanity and the earth.
    It is a practice that recognizes the essential role of nature in sustaining life and seeks to work with, rather than against, its rhythms and cycles.
    Through organic farming, we have the opportunity to create a healthier, more resilient food system, one that is rooted in a deep respect for the earth and all its inhabitants.
    Let us embrace the inspiring vision of organic farming and work together to create a more sustainable and just future for all.
    
    </p>

</div>

</fieldset>













<br> <br> <br>
<div class = "quote1" id = "quote1">
    
    <div class = 'semi-circle'>  </div>

    <div class = "person1">
    <img src = "/IMAGES/QUOTE/WendellBerry.png" width = "350px" height = "255px">    
    </div>

    <div class = "p1"> <i class="fa fa-quote-left" ></i> </div>
    <div class = "p2"> Good farmers, who take seriously their duties as stewards of Creation, contribute to the  </div>
    <div class = "p3">  welfare of society in more ways than society usually acknowledges, or even knows." </div>
    
   <div class = "name">  <em>--<span style = "color:black;">Wendell Berry</span>, <span style = "font-size:1.15rem;">Environmental Activist, Farmer, 1977.</span> </em></div>
        
</div>

















<div id = "farmer_purchase">   </div>
<br> <br> <br> 
<!---------------     FARMER EXAMPLE    ----------------->



<div class = "farmer_example">

    <h1> Farmer Purchase! </h1> <br> <br>
    <p> This section shows what a farmer can purchase as a part of their plan.
        Below is an example window about the products farmers can purchase through our website.
        Look up the following window.
    </p>

    <br> <br>
</div>


<div class = "example1"> 
<h2 class="head_124" style="width: 30%;"> Popular Selling Products</h1>
    <a class = "view_more" href = "/Farmer_SignUp_Login_Page"> View More! </a>
</div>


<section class="products" id="products">

   <div class="swiper product-slider">
      <!-- <div class="swiper-wrapper"> -->
         
         <div class="swiper-slide box" >
            <img src="/IMAGES/SEEDS/rice.webp" alt="" >
            <h3>Black Rice</h3>
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
            </div>
            <div style="font-size: 1.5rem;font-weight: bold;  color: green;">Quantity : <span style="font-size: 2rem;font-weight: bold; color: orange;">5kg</span></div>
            <div class="price">Rs 1299.00/-</div>
            <div class="price1" style="text-decoration: line-through;">Rs 1500.00/-</div>
            <div class="off" style="color: red;">Get 15% off</div>
           
            
         </div>
         <div class="swiper-slide box">
            <img src="/IMAGES/MACHINES/m1.jpg" alt="">
            <h3>HTP Sprayer</h3>
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               
               <i class="fas fa-star-half-alt"></i>
            </div>
            <div style="font-size: 1.5rem;font-weight: bold;  color: green;">Quantity : <span style="font-size: 2rem;font-weight: bold; color: orange;"> 1product</span></div>

            <div class="price">Rs 3999.00/-</div>
            <div class="price1" style="text-decoration: line-through;">RS 5000.00/-</div>
            <div  class="off" style="color: red;">Get 30% off</div>
            
         </div>

         <div class="swiper-slide box">
            <img src="/IMAGES/FERTILIZERS/katyayani.jpg" alt="">
            <h3>Katyayani</h3>
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
            </div>
            <div style="font-size: 1.5rem;font-weight: bold;  color: green;">Quantity : <span style="font-size: 2rem;font-weight: bold; color: orange;">1liter</span></div>
            <div class="price">RS 499.00/-</div>
            <div class="price1" style="text-decoration: line-through;">RS 500.00/-</div>
            <div  class="off"  style="color: red;">Get 10% off</div>
         
         </div>
         <div class="swiper-slide box">
            <img src="/IMAGES/SEEDS/carrot_seeds.webp" alt="">
            <h3>Carrot</h3>
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
            </div>
            <div style="font-size: 1.5rem;font-weight: bold;  color: green;">Quantity : <span style="font-size: 2rem;font-weight: bold; color: orange;">3kg</span></div>
            <div class="price">Rs 399.00/-</div>
            <div class="price1" style="text-decoration: line-through;">RS 500.00/-</div>
            <div  class="off" style="color: red;">Get 15% off</div>
            
         </div>
    
</div>


</section>

    














<!----------------   CUSTOMER EXAMPLE  ---------------->

<div id = "customer_purchase"> </div>
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
<div class = "customer_example">

    <h1> Customer Purchase! </h1>  <br>
    <p> This section shows what a customer can purchase as a part of their plan.
        Below is an example window about the products, customers can purchase through our website.
        Look up the following window.
    </p>

    <br> <br>
</div>




<div class = "example2"> 
<h2 class="head_124" style="width: 30%;"> Popular Selling Products  </h2>
<a class = "view_more" href = "/Customer_SignUp_Login_Page"> View More! </a>
</div>


<section class="products" id="products">

    <div class="swiper product-slider">
       <!-- <div class="swiper-wrapper"> -->
          
          <div class="swiper-slide box" >
             <img src="/IMAGES/FRUITS_VEGETABLES/carrot.jpg" alt="" >
             <h3>Carrot</h3>
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
             </div>
             <div style="font-size: 1.5rem;font-weight: bold;  color: green;">Quantity : <span style="font-size: 2rem;font-weight: bold; color: orange;">10kg</span></div>
             <div class="price">Rs 225.00</div>
             <div class="price1" style="text-decoration: line-through;">Rs 264.70</div>
             <div class="off" style="color: red;">Get 15% off</div>
           
             
          </div>
          <div class="swiper-slide box" >
            <img src="/IMAGES/DAIRY_MEAT/milk.png" alt="" >
            <h3>Milk</h3>
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
            </div>
            <div style="font-size: 1.5rem;font-weight: bold;  color: green;">Quantity : <span style="font-size: 2rem;font-weight: bold; color: orange;">10Lit</span></div>
            <div class="price">Rs 510.00</div>
            <div class="price1" style="text-decoration: line-through;">Rs 600</div>
            <div class="off" style="color: red;">Get 15% off</div>
            
            
         </div>
         <div class="swiper-slide box">
            <img src="/IMAGES/DAIRY_MEAT/chicken.jpg" alt="">
            <h3>Chicken</h3>
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
            </div>
            <div style="font-size: 1.5rem;font-weight: bold;  color: green;">Quantity : <span style="font-size: 2rem;font-weight: bold; color: orange;">10kg</span></div>
            <div class="price">RS 1700.00</div>
            <div class="price1" style="text-decoration: line-through;">RS 2000.00</div>
            <div  class="off"  style="color: red;">Get 15% off</div>
            
            
         </div>
         <div class="swiper-slide box" >
            <img src="/IMAGES/FRUITS_VEGETABLES/peach.jpg" alt="" >
            <h3>Peach</h3>
            <div class="stars">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
            </div>
            <div style="font-size: 1.5rem;font-weight: bold;  color: green;">Quantity : <span style="font-size: 2rem;font-weight: bold; color: orange;">10kg</span></div>
            <div class="price">Rs 305.00</div>
            <div class="price1" style="text-decoration: line-through;">Rs 359.00</div>
            <div class="off" style="color: red;">Get 15% off</div>
         
            
         </div>

</div>
</section>        























<div id = "advertisement"> </div>
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

<!-----------------   SALES AGENT & FARMER ADVERTISMENT   ---------------->



<div class = "Sales_Agent_Advertisement">

    <h1> Advertising Your Stuff! </h1> <br> 
    <fieldset  style="margin-left:3rem ; margin-right: 2rem; padding: 3px 3px;">
        <legend >Advartising</legend>
        <br>
<p style = "text-indent:5rem;">
A variety of products can be sold to farmers including machines, seeds, etc.
As a Sales Agent, one can sell their products on our website. All you have to do is to fill a form. 
Once you Sign-In, there will be a form to be filled.
</p> <br>

<p class="click2"  style = "color:black;">
    Click here to Advertise your Products as a Sales Agent ---> <a style="color: red;" class="click1"  href = "/Sales_Agent_SignUp_Login_Page"> click here! </a>
</p> <br> <br> <br>
<p style = "text-indent:5rem;">
Similarly, A farmer can also advertise their organic products through our website directly to customers.
Once you have registered your account on our website, you can now do both purchasing organic stuff and advertise your crops simultaneously.
</p> <br><br>


<p class="click2" style = "color:black;">
    Click here to Advetise your Products as a Farmer ---> <a class="click1" style="color: red;"  href = "/Farmer_SignUp_Login_Page" > click here! </a>
</p>




<br>
</div>
</fieldset>













<div id = "soil_report"></div>
<br> <br> <br> <br> <br> <br> 

<!-----------------   SOIL REPORT   ---------------->

<div class = "Soil_Report">

   <h1 style="width: 30%;">  Soil Report! </h1> <br><br>

    <p> 
    Wonder what to do with soil reports ? Well, A soil report test will determine the right crop to be planted and harvested.
    This will make sure one doesnot encounter with wrong plant being harvested in an unsuitable soil.
    A soil report also tells a farmer, what is the amount of water present is the soil and what is the amount of water & fertilizers
    it can consume for a period.
    </p>
    <br>

    <p>
    If you're considering taking up a soil report test, know that you are taking an important step towards cultivating a healthy and abundant garden or farm.
    Soil testing allows you to better understand the unique needs of your soil, including its pH levels, nutrient content, and overall health. Armed with this information,
    you can make more informed decisions about what to plant, when to fertilize, and how to optimize your growing conditions. 
    Moreover, taking up soil report test is an act of stewardship and care for the land, a commitment to creating a sustainable and regenerative system that nourishes both the earth and its inhabitants. 
    So, let's embark on this inspiring journey towards a more fruitful and fulfilling relationship with the soil.
    As a part of our services, we also provide the information about the soil report test taken by us in order to make sure the farmer
    is happy with what are all crops he can harvest in those particular areas.
    </p>
    
    <br>
    <p style = "color:rgb(176, 23, 130); font-size:24px; line-height:1.9rem;">
    Below are the details of the Persons whom you can contact and they come to your place to do the soil report tests.
    We have one of the finest experts in the field of soil reports judgement.
    </p>


</div> <br> <br>


<section class = "soil" id = "soil">

    <div class = "swiper1" style = "background-image: url('Images/backgroundlogin.jpg'); height:470px;">
       
          
          <div class = "box" style = "width:310px;" >
             <img src="/IMAGES/SOIL_REPORT_PERSONS/person2.png" alt="Image">
             <h3 class="name11"> Binny Stuart</h3> <br>
             <div class="contact"> Contact Details </div>
             <div class="phone"> Phone No : 7780387776 </div> 
             <div class="email"> <span style = "color:white;"> Email:</span> binnystuart@gmail.com </div>
          </div>

          <div class="box" style = "width:310px;">
            <img src="/IMAGES/SOIL_REPORT_PERSONS/person1.png" alt="Image" >
            <h3 class="name11"> Manoj Tiwari </h3>  <br>
            <div class="contact">Contact Details</div>
            <div class="phone"> Phone No : 7780387776</div> 
            <div class="email"><span style = "color:white;"> Email:</span>  manojtiwari@gmail.com</div>
         </div>

         <div class="box" style = "width:310px;" >
            <img src="/IMAGES/SOIL_REPORT_PERSONS/person3.png" alt = "Image" >
            <h3 class="name11">Adrew Joseph</h3> <br>
            <div class="contact">Contact details</div>
            <div class="phone"> Phone No : 7780387776</div>
            <div class="email"><span style = "color:white;"> Email:</span>  andrewjoseph@gmail.com</div>
         </div>

         <div class="box" style = "width:310px;">
            <img src="/IMAGES/SOIL_REPORT_PERSONS/person4.png" alt="Image" >
            <h3 class="name11">Prem Chand</h3> <br>
            <div class="contact">Contact details</div>
            <div class="phone"> Phone No: 7780387776</div>
            <div class="email"> <span style = "color:white;"> Email:</span>  premchand@gmail.com</div>
         </div>

    </div>

</section>





<br> <br> <br>

<%- include('partials/Footer') %>



</body>
</html>