

.F1
{
background-color:lightgrey;
position:relative;
width:100%;
font-size:21px;
font-family: Georgia, 'Times New Roman', Times, serif;
height:100px;
}





.temp1
{
padding-top:35px;
padding-left:20px;
float:left;
}



.temp2
{
padding-top:35px;
padding-right:19px;
float:right;
}






.Footer
{
position:relative;
background-color:#3d4551;
color:white;
font-family:Georgia, 'Times New Roman', Times, serif;
width:100%;
height:400px;
}





.IF1 
{
position:absolute;
background-color:white;
top:30%;
left:2.6%;
}


.list1 
{
position:absolute;
top:4%;
left:31%;
}




.list2 
{
position:absolute;
top:4%;
left:52%;
}



.list3 
{
position:absolute;
top:4%;
left:74%;
}






.list1 li, .list2 li, .list3 li, .social_media li
{
padding:9.5px;
list-style-type: none;
}





.list1 li a, .list2 li a, .list3 li a, .social_media li a
{
color:white;
font-size:20px;
text-decoration:none;
}




.social_media
{
position:absolute;
top:74%;
left:31%;
color:white;
}



.social_media li
{
display:inline-block;
}






