body{
	margin: 0;
	padding: 0;
  
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	/* background: url("/imagesfarmer/backgroundlogin.jpg")  */
	background-image: url("/IMAGES/BACKGROUND_PICS/login_background1.jpg");

	background-repeat: no-repeat;
	background-size: cover;
}
.main123{
    display: flex;
    justify-content: space-around;
}
.main1234{
    margin-top: 3rem;
	width: 450px;
	height: 630px;
	
	overflow: hidden;
	background-image: url("/IMAGES/BACKGROUND_PICS/login_backgound2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
	box-shadow: 4.0px 8.0px 8.0px -4px -8px 18px hsla(135, 76%, 24%, 0.48);
}
.main23456{
    margin-top: 4.5rem;
	width: 450px;
	height: 500px;
	background-image: url("/IMAGES/BACKGROUND_PICS/login_backgound2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
	box-shadow: 4.0px 8.0px 8.0px -4px -8px 18px hsla(135, 76%, 24%, 0.48);
}
.forgot{
	margin-top: 10rem;
	width: 450px;
	height: 500px;
	background-image: url("/IMAGES/BACKGROUND_PICS/login_backgound2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
	box-shadow: 4.0px 8.0px 8.0px -4px -8px 18px hsla(135, 76%, 24%, 0.48);
}
.signup{
    position: relative;
	width:100%;
	height: 100%;
	font-size: 1.5rem;
}
.login{
    position: relative;
	width:100%;
	height: 100%;
	font-size: 1.5rem;
}
.forgotpass{
	position: relative;
	width:100%;
	height: 100%;
	font-size: 1.5rem;
	
}
label{
	color: #03fff6;
	font-size: 1.7em;
	justify-content: center;
	display: flex;
	margin: 20px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
    position: relative;
	width: 70%;
	height: 17px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
textarea{
	background: #e0dede;
}
input:hover{
	box-shadow: 4.0px 8.0px 8.0px hsla(312, 82%, 67%, 0.48);

}
textarea:hover{
	box-shadow: 4.0px 8.0px 8.0px hsla(312, 82%, 67%, 0.48);

}
input[type="submit"]{
	width: 60%;
	height: 50px;
	margin: 3px auto;
	justify-content: center;
    text-align: center;
	display: block;
	color: #100f0f;
	background-color: #03fff6;
	font-size: 1.8rem;
	font-weight: bold;
	margin-top: 8px;
	outline: none;
	border: none;
	border-radius: 9px;

	cursor: pointer;
	
}
#eye{
    position: absolute;
    top: 44.5%;
    right: 18%;
}
#eye1{
    position: absolute;
    top:34.5%;
    right: 18%;
}
#eye2{
    position: absolute;
    top:34.5%;
    right: 18%;
}
#login1{
    position: relative;
    top: 2rem;
    left: 47%;
	padding: 14px;
	background-color: rgb(63, 155, 21);
	font-size: 1.5rem;
	border-radius: 10px;
}
#login1:hover{
	background-color: rgb(238, 192, 105);
}
#signup1{
    position: relative;
	top: 2rem;
    left: 44%;
	padding: 14px;
	background-color: rgb(63, 155, 21);
	
	font-size: 1.5rem;
	border-radius: 10px;
}
#signup1:hover{
	background-color: rgb(238, 192, 105);
}
.main23456{
    display: none;
}
.forgot{
	display: none;
}
#signup1{
	display: none;
}
.change a{
	position: absolute;
	top: 2rem;
	right: 2rem;
	color: red;
	font-size: 40px;
	font-weight: bolder;
	cursor: pointer;
	text-decoration: none;
}
#user1{
	font-size: 15px;
	color: red;
}
.popup {
	position: fixed;
	width: 23rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	background: linear-gradient(135deg, #cc9c59, #b87e48, #724c1e);
	color: white;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
  }
  
  .popup .close {
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	font-size: 28px;
	font-weight: bold;
	padding: 5px 10px;
	cursor: pointer;
  }
  
  .popup .close:hover {
	color: black;
  }

.main23456 .login .forgot2 a{
	margin-left: 3.5rem;
	font-size: 1.2rem;
	margin-bottom: 5rem;
	text-decoration: none;
	color: red;
 }
 .main23456 .login .forgot2 a:hover{
	color: white;
 }
  
 .popup1 {
    height: 7.5rem;
    width: 23rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	background-color: white;
	color: green;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
    font-size: 1.8rem;
  }
  
  .popup1 .close {
	position: absolute;
	top: 0;
	right: 0;
	color: rgb(99, 9, 9);
	font-size: 28px;
	font-weight: bold;
	padding: 5px 10px;
	cursor: pointer;
  }
  
  .popup1 .close:hover {
	color: black;
  }
