/*   ------------ NAVIGATION BAR -------------    */

.Navigation_Bar
{
display:flex;
flex-wrap:wrap;
position:sticky;
top:0;
background-color:rgb(6, 117, 40);
height:60px;
font-size:23px;
z-index:1000;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.Navbar_N1
{
text-align: center;
text-decoration: none;
padding-top:17px;
padding-left:1.5%;
padding-right:2%;
color:white;
padding-bottom:1px;
}


.Navbar_N1:hover
{
color:white;
background-color:rgb(12, 127, 235); 
}


.Search_Button
{
position:absolute;
border:2px solid green;
top:0;
right:0;
color:white;
padding:10px 20px 6px 25px;
background-color:rgb(12, 127, 235);
}


/*  END NAVIGATION BAR  */














.search-from{
    position: absolute;
    top:110%;
    right:-110%;
    max-width: 50rem;
    height: 5rem;
    background-color: #fff;
    border-radius: 1rem;
    overflow:hidden;
    display:flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.search-from.active{
    right:3rem;
    transition: .4s linear;

}
 .search-from input{
    height: 100%;
    width: 110%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color:var(--black);
    padding: 0  3rem;
}
.search-from label{
    font-size:2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
    
}

.search-from label:hover{
    color: rgb(119, 246, 119);
    
}


